[Desktop Entry]
Name=Burrow
Comment=Encrypted messaging on Nostr with Marmot Protocol
Exec=/opt/burrow/burrow_app
Icon=burrow
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
StartupWMClass=com.centauri.burrow_app
